<p id="notice"><%= notice %></p>

<h2>Detalles del Zombie</h2>

<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @zombie.age %>
</p>

<p>
    <strong>Email:</strong>
    <%=@zombie.email%>
</p>

<p>
<strong>Rotten:</strong>
<%=@zombie.rotten%>
    
    
</p>

<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
